In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from data import merged_data, get_education_indicators

In [2]:
indicators = get_education_indicators()
indicators.head()

indicator_code
SE.ADT.LITR.FE.ZS                                                       literacy_rate_female
SE.ADT.LITR.MA.ZS                                                         literacy_rate_male
Literacy rate, adult total (% of people ages 15 and above)               literacy_rate_total
SE.COM.DURS                                                    compulsory_education_duration
SE.PRM.CMPT.FE.ZS                                             completion_rate_primary_female
Name: indicator, dtype: object

In [7]:
df = merged_data()
df.head()

                     completed_education_rate_primary_female  \
country_code year
ABW          2000.0                                 89.06955
             2001.0                                 89.06955
             2002.0                                 89.06955
             2003.0                                 89.06955
             2004.0                                 89.06955

                     completed_education_rate_primary_male  \
country_code year
ABW          2000.0                               91.75029
             2001.0                               91.75029
             2002.0                               91.75029
             2003.0                               91.75029
             2004.0                               91.75029

                     completed_education_rate_primary_total  \
country_code year
ABW          2000.0                                90.32299
             2001.0                                90.32299
             2002.0                                90.32299
             2003.0                                90.32299
             2004.0                                90.32299

                     completion_rate_lower_secondary_female  \
country_code year
ABW          2000.0                               52.930729
             2001.0                               52.930729
             2002.0                               52.930729
             2003.0                               52.930729
             2004.0                               52.930729

                     completion_rate_lower_secondary_male  \
country_code year
ABW          2000.0                             59.478802
             2001.0                             59.478802
             2002.0                             59.478802
             2003.0                             59.478802
             2004.0                             59.478802

                     completion_rate_lower_secondary_total  \
country_code year
ABW          2000.0                              55.992432
             2001.0                              55.992432
             2002.0                              55.992432
             2003.0                              55.992432
             2004.0                              55.992432

                     completion_rate_post_secondary_female  \
country_code year
ABW          2000.0                                    NaN
             2001.0                                    NaN
             2002.0                                    NaN
             2003.0                                    NaN
             2004.0                                    NaN

                     completion_rate_post_secondary_male  \
country_code year
ABW          2000.0                                  NaN
             2001.0                                  NaN
             2002.0                                  NaN
             2003.0                                  NaN
             2004.0                                  NaN

                     completion_rate_post_secondary_total  \
country_code year
ABW          2000.0                                   NaN
             2001.0                                   NaN
             2002.0                                   NaN
             2003.0                                   NaN
             2004.0                                   NaN

                     completion_rate_primary_female  ...  \
country_code year                                    ...
ABW          2000.0                       97.125572  ...
             2001.0                      100.145767  ...
             2002.0                       99.719887  ...
             2003.0                       88.140160  ...
             2004.0                       88.326851  ...

                     school_enrollment_secondary_male  \
country_code year
ABW          2000.0                         94.939461
             2001.0                         95.739502
             2002.0                         97.879959
             2003.0                         96.742287
             2004.0                         97.263748

                     school_enrollment_secondary_private  \
country_code year
ABW          2000.0                                  NaN
             2001.0                            91.412567
             2002.0                            91.460709
             2003.0                            91.629059
             2004.0                            91.796928

                     school_enrollment_secondary_total  \
country_code year
ABW          2000.0                          96.516167
             2001.0                          97.972870
             2002.0                         100.520683
             2003.0                          99.091171
             2004.0                          97.252441

                     school_enrollment_tertiary_female  \
country_code year
ABW          2000.0                                NaN
             2001.0                                NaN
             2002.0                                NaN
             2003.0                                NaN
             2004.0                                NaN

                     school_enrollment_tertiary_male  \
country_code year
ABW          2000.0                        23.540560
             2001.0                        23.135139
             2002.0                        21.327009
             2003.0                        22.006470
             2004.0                        21.200750

                     school_enrollment_tertiary_total  teachers_primary_total  \
country_code year
ABW          2000.0                         29.650511                   486.0
             2001.0                         29.055861                   498.0
             2002.0                         26.689020                   516.0
             2003.0                         26.752001                   537.0
             2004.0                         26.304411                   552.0

                     teachers_rate_primary_female  \
country_code year
ABW          2000.0                     77.777779
             2001.0                     78.714859
             2002.0                     79.651161
             2003.0                     79.651161
             2004.0                     80.797096

                     teachers_rate_secondary_female teachers_secondary_total
country_code year
ABW          2000.0                       49.382721                    405.0
             2001.0                       50.585480                    427.0
             2002.0                       48.775059                    449.0
             2003.0                       49.891541                    461.0
             2004.0                       50.730690                    479.0

[5 rows x 64 columns]

In [12]:
def create_levels(name):
    parts = name.split('_')
    
    school_level = ['primary', 'secondary', 'tertiary']
    gender = ['female', 'male', 'total']
    level1 = np.nan
    level2 = np.nan

    if len(parts) > 2:
        # create level 1
        if parts[-1] in school_level:
            level1 =  parts[-1]
        elif parts[-2] in school_level:
            level1 = parts[-2]
        
        # create level 2
        if parts[-1] in gender:
            level2 = parts[-1]
        
        # create level 0
        for var in school_level + gender:
            if var in name:
                name = name.replace('_' + var, '')
        
        return (name, level1, level2)

[create_levels(name) for name in df.columns]

[('completed_education_rate', 'primary', 'female'),
 ('completed_education_rate', 'primary', 'male'),
 ('completed_education_rate', 'primary', 'total'),
 ('completion_rate_lower', 'secondary', 'female'),
 ('completion_rate_lower', 'secondary', 'male'),
 ('completion_rate_lower', 'secondary', 'total'),
 ('completion_rate_post', 'secondary', 'female'),
 ('completion_rate_post', 'secondary', 'male'),
 ('completion_rate_post', 'secondary', 'total'),
 ('completion_rate', 'primary', 'female'),
 ('completion_rate', 'primary', 'male'),
 ('completion_rate', 'primary', 'total'),
 ('completion_rate', 'tertiary', 'female'),
 ('completion_rate', 'tertiary', 'male'),
 ('completion_rate', 'tertiary', 'total'),
 ('completion_rate_upper', 'secondary', 'female'),
 ('completion_rate_upper', 'secondary', 'male'),
 ('completion_rate_upper', 'secondary', 'total'),
 ('compulsory_education_duration', nan, nan),
 None,
 ('education_duration', 'primary', nan),
 ('education_expenditure_gdp_rate', nan, 'total'),
 ('education_expenditure', 'primary', nan),
 ('education_expenditure_rate', nan, 'total'),
 ('education_expenditure', 'secondary', nan),
 ('education_expenditure', 'tertiary', nan),
 ('education_expenditure', nan, 'total'),
 ('education_pupils', 'primary', 'female'),
 ('education_pupils', 'secondary', 'female'),
 ('expenditure_per_student', 'primary', nan),
 ('expenditure_per_student', 'secondary', nan),
 ('expenditure_per_student', 'tertiary', nan),
 ('expenditure_rate', 'primary', nan),
 ('expenditure_rate', 'secondary', nan),
 ('expenditure_rate', 'tertiary', nan),
 None,
 None,
 None,
 None,
 ('literacy_rate', nan, 'female'),
 ('literacy_rate', nan, 'male'),
 ('literacy_rate', nan, 'total'),
 ('out_of_school_rate', 'primary', nan),
 None,
 ('population_0_14', nan, nan),
 ('population_15_64', nan, nan),
 ('pupil_teacher_ratio', 'primary', nan),
 ('pupil_teacher_ratio', 'secondary', nan),
 ('pupil_teacher_ratio', 'tertiary', nan),
 ('school_enrollment', 'primary', 'female'),
 ('school_enrollment', 'primary', 'male'),
 ('school_enrollment_private', 'primary', nan),
 ('school_enrollment', 'primary', 'total'),
 ('school_enrollment', 'secondary', 'female'),
 ('school_enrollment', 'secondary', 'male'),
 ('school_enrollment_private', 'secondary', nan),
 ('school_enrollment', 'secondary', 'total'),
 ('school_enrollment', 'tertiary', 'female'),
 ('school_enrollment', 'tertiary', 'male'),
 ('school_enrollment', 'tertiary', 'total'),
 ('teachers', 'primary', 'total'),
 ('teachers_rate', 'primary', 'female'),
 ('teachers_rate', 'secondary', 'female'),
 ('teachers', 'secondary', 'total')]